@{
    ViewData["Title"] = "Авторизация";
    ViewData["StyleName"] = "auth.css";
}

<form class="text-center" method="post">
    <div class="choose-action-blocks">
        <div class="action-block">
            <a>Войти как администратор</a>
        </div>
        <div class="action-block">
            <a>Подключиться к опросу</a>
        </div>
    </div>
</form>
