@{
    ViewData["Title"] = "За гранью";
    ViewData["StyleName"] = "auth.css";
    ViewData["ScriptName"] = "quindecim.js";
}

<form class="text-center" method="post">
    <h1 class="choose-title">Потребитель или создатель?</h1>
    <div class="choose-action-block">
        <div class="action-block" id="general-block" name="general-block">
            <i class='bx bx-server'></i>
            <div class="block-description"><p>Подключитесь к <br>опросу и помогите вашим коллегам принять верное решение</p></div>
        </div>
        <div class="action-block" id="admin-block" name="admin-block">
            <i class='bx bx-shield-quarter'></i>
            <div class="block-description"><p>Быстро и просто создайте опрос для решения вашего вопроса</p></div>
        </div>
    </div>
</form>
