.cc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cc h1 {
    color: whitesmoke;
    font-family: 'Comfortaa';
}

.cc ul li {
    color: whitesmoke;
    font-family: 'Comfortaa';
}