.survey-list {
    display: flex;
    justify-content: center;
}

.survey-block {
    background-color: #12001B;
    color: white;
    border: whitesmoke 8px solid;
    width: 600px;
    height: 350px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    font-family: 'Comfortaa';
    transition: all 0.4s ease;
    margin-left: 40px;
    margin-bottom: 40px;
}

.survey-block:hover {
    transform: translateY(-20px);
    box-shadow: #EC0355 10px 10px;
    cursor: pointer;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}


.card-title{
    display: flex;
    justify-content: center;
    padding-right: 20%; 
}

.card-title h2 {
    margin: 0;
    font-size: 1.5em;
}

.info-item i {
    font-size: 40px;
    margin-left: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.card-content {
    padding-top: 10px;
    display: flex;
    justify-content:center;
    flex-direction: row;
}

.card-content p { 
    text-align: center;
    margin: 10px 0;
    font-size: 1.4rem;
    padding: 10px;
}

.card-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px 10px;
    border-left: 2px solid #fff;
}

.info-item {
    display: flex;
    align-items: center;
    text-align: center;
}

.info-item .i {
    margin-right: 5px;
    font-size: 1.2em;
}

.add-new{
    display: flex;
    justify-content: right;
}

/* Connect form */
.survey-connect-block {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.connect-container {
    color: whitesmoke;
    font-family: "Comfortaa";
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.3);
    width: 90%;
    max-width: 500px;
    text-align: center;
}

.connect-container h2 {
    margin-bottom: 50px;
}

.connect-container button {
    padding: 10px 20px;
    border: none;
    background-color: #12001B;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.connect-container button:hover {
    background-color: #2ef18b;
}

.s-code, .s-nickname{
    text-align: center;
}