.stats-container {
    color: var(--dark);
    overflow-x: hidden;
    background: var(--bg);
    font-family: "Comfortaa";
    padding: 4px;
}

.stats-container h1, .connected, .results-block h3, .people-block h3 {
    text-align: center;
}

.connected{
    margin-top: 50px;
}

.results-block h3, .people-block h3 {
    margin-top: 15px;
    color: var(--dark);
}

.info-block {
    font-family: "Comfortaa";
    color: var(--dark);
}

/* Clock */
.results-block, .survey-control-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.clock {
    margin: 0 auto;
}

.clock-checkbox {
    display: none;
}

.clock-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: var(--bg);
    color: var(--dark);
    border: 3px solid var(--secondary);
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.clock-label span {
    margin-right: 5px;
    font-family: 'Irish Grover', cursive;
}

.time-out {
    font-family: 'Irish Grover', cursive;
    text-align: center;
}

/* Results Block */
.results-block {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--secondary);
}

.results-block h1 {
    font-family: 'Comfortaa';
    color: var(--dark);
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-family: 'Comfortaa', sans-serif;
    color: var(--dark);
}

.form-control {
    font-family: 'Comfortaa', sans-serif;
    background: whitesmoke;
    color: #000;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    padding: 10px;
}

.table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    font-family: 'Comfortaa', sans-serif;
    background-color: var(--bg-contrast);
    color: var(--dark);
}

.table th, .table td {
    padding: 10px;
    text-align: left;
    border: 1px solid var(--secondary);
}

.table th {
    background-color: var(--secondary);
    color: var(--dark);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--bg);
    color: var(--dark);
}

.table-bordered {
    border: 2px solid var(--secondary);
}

#clear-answers-btn {
    background-color: var(--primary);
}