#survey-builder {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 1.5rem;
    margin-bottom: 80px;
    overflow-x: hidden;
    background: #fff;
    font-family: "Alegreya", sans-serif;
}

#survey-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 1.5rem;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.5);
}

/* --- Survey --- */
/* Questions */
#preview {
    max-height: 400px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 1.5rem;
}

@media(max-width: 360px) {
    #preview {
        max-height: 300px;
        max-width: 300px;
    }
}

.img-block {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.que-n-ans {
    margin-top: 40px;
    background: #fff;
    border-radius: 1.5rem;
    padding: 20px;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0, 0.5);
}

.question-block {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #fff;
}

.question-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Answers */
.answers-container {
    margin-bottom: 10px;
}

.add-answer, .remove-question {
    margin-top: 10px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.add-answer-btn {
    width: 100%;
    border: 1px solid #2ef18b;
    height: auto;
    transition: .4s;
    margin-top: 30px;
}

.add-answer-btn:hover {
    background: #fff;
    border: 1px dashed;
    border-color: #000;
    color: #21373c;
    transform: translateY(-5px);
}

.answer-div{
    margin-top: 10px;
}

.answer-input {
    margin-top: 10px;
    width: 70%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.remove-answer {
    width: 8%;
    padding: 7px;
    border-radius: 4px;
    background: transparent;
    color: #DC3545;
    border: 1px solid #DC3545;
    margin-left: 20px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.remove-answer:hover {
    background: #DC3545;
    color: #fff;
}

.answer-lb{
    font-size: 1em;
    padding-left: 10px;
}

/* Header */
.com-set {
    margin-bottom: 20px;
}

.fi {
    margin: 10px 0 5px;
}

.s-title, .small-input, #question, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.small-input{
    text-align: center;
}

#s-timeout, #s-limit {
    letter-spacing: 10px;
}

#s-description{
    max-height: 200px;
}

.set-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.set-item {
    margin-right: 10px;
}

.set-item:last-child {
    margin-right: 0;
}

/* Commit */
.commit-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.commit-btns .btn {
    width: 48%;
}