/* Resetting styles for a form */
form {
    margin: 0;
    padding: 0;
}

.choose-title {
    color: whitesmoke;
}

/* Styles for the action selection box */
.choose-action-block {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    color: #fff;
    gap: 5vw;
}

/* Styles for an individual action block */
.action-block {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 50px;
    width: 350px;
    height: 500px;
    cursor: pointer;
    background: #12001B;
    transition: all 0.4s ease-out;
    overflow: hidden; /* Скрывает все, что выходит за пределы блока */
    border: 8px solid whitesmoke;
    font-family: 'Comfortaa';
}

/* Styles for text in the action block */
.action-block h1 {
    font-size: 4rem;
    text-align: center;
    color: #fff;
    z-index: 2;
}

.block-description {z-index: 2;}


/* Styles for icons */
.action-block i {
    transition: all 0.4s ease-out;
    z-index: 2;
    font-size: 168px;
    padding-bottom: 20px;
}

@media (max-width: 992px) {
    .action-block {
        width: 250px;
        height: 400px;
    }
}

@media (max-width: 780px) {
    .choose-action-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 70vh;
        margin-left: 45px;
    }

    .action-block {
        margin-bottom: 5vh;
    }
}

@media (max-width: 310px) {
    .action-block {
        width: 150px;
        height: 300px;
    }
}

/* Disabling hover if it is not supported */
@media (hover:hover) {
    .action-block:hover {
        transform: translateY(-20px);
        box-shadow: #5BBDE3 10px 10px;
    }

    .action-block:hover i {
        color: #5BBDE3;
    }
}