@media(min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: var(--primary);
        visibility: hidden;
        transition: 0.5s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }

    .navbar-brand {
        margin-left: 30px;
        font-size: 3rem;
    }

    .navbar-brand:hover {
        color: var(--primary);
        cursor: default;
    }
}

@media (max-width: 1200px) {
    .navbar-brand {
        font-size: 2.2rem;
    }

    .nav-link {
        font-size: 1.25rem;
    }

    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    #add-question i{
        color: whitesmoke;
    }
}

@media (max-width: 991px){
    .action-block {
        width: 280px;
        height: 280px;
    }

    .action-block i {
        font-size: 120px;
    }

    .block-description p {
        font-size: 1.1rem;
    }
}

@media (max-width: 780px) {
    .choose-title {
        margin-bottom: 60px;
    }

    .choose-action-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 70vh;
        margin-left: 45px;
    }

    .action-block {
        margin-bottom: 4vh;
    }

    .survey-connect-block {
        margin-top: 15%;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .form-group .btn {
        width: 160px;
        background-color: #FFC54F;
        border: none;
        color: #1D002C;
        padding: 10px 20px;
        font-size: 1rem;
        border-radius: 5rem;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .form-group .btn:hover {
        background-color: transparent;
        color: whitesmoke;
    }

    .fill-btn {
        padding-top: 20px;
        width: 190px;
        height: 50px;
        padding-bottom: 30px;
    }

    .fill-btn i {
        padding-top: 6px;
        font-size: 30px;
    }

    .fill-btn-text {
        padding-top: 10px;
        font-size: 1.2rem;
    }

    .info .container {
        padding: 15px;
    }

    .info h1 {
        font-size: 1.75rem;
    }

    .infoh2 {
        font-size: 1.5rem;
    }

    .info h3 {
        font-size: 1.25rem;
    }

    .info p, ul, ol {
        font-size: 1rem;
    }
}

@media(max-width: 712px){
    .survey-block {
        width: 400px;
        height: 250px;
        padding: 20px;
    }

    .card-title h2 {
        font-size: 1.2em;
    }

    .info-item i {
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
    }

    .card-content p {
        text-align: center;
        margin: 10px 0;
        font-size: 1.4rem;
        padding: 10px;
    }

    .card-info {
        padding: 30px 5px;
        border-left: 1px solid #fff;
    }

    .info-item .i {
        margin-right: 0px;
        font-size: 0.7em;
    }

}

@media(max-width: 626px) {
    .scroll-to-top{
        padding: 0;
    }

    #waiting-message{
        font-size: 1.7rem;
    }

    .survey-connect-block {
        margin-top: 20%;
    }
}

@media(max-width: 517px){
    .table {
        font-size: 1rem;
    }
}

@media(max-width: 310px) {
    .action-block {
        width: 150px;
        height: 300px;
    }
    .table {
        font-size: 0.7rem;
    }
}

/* Disabling hover if it is not supported */
@media (hover:hover) {
    .action-block:hover {
        transform: translateY(-20px);
        box-shadow: var(--primary) 10px 10px;
    }

    .action-block:hover i {
        color: var(--primary);
    }

    .fill-btn:hover {
        color: whitesmoke;
        background: #12001B;
    }

    .ques-card:hover {
        transform: translateY(-10px);
    }

    .form-group .btn:hover {
        background-color: var(--secondary);
        color: #1D002C;
        width: 160px;
    }

    .info ul li a:hover {
        color: var(--primary);
    }
}
