@media(min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #EC0355;
        visibility: hidden;
        transition: 0.5s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }

    .navbar-brand {
        margin-left: 160px;
        font-size: 3rem;
    }

    .navbar-brand:hover {
        color: whitesmoke;
        cursor: default;
    }
}

@media (max-width: 992px) {
    .action-block {
        width: 260px;
        height: 370px;
    }

    .action-block i {
        font-size: 130px;
    }

    .block-description p {
        font-size: 1.3rem;
    }

    .navbar-brand {
        font-size: 1.75rem;
    }

    .nav-link {
        font-size: 1.25rem;
    }

    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .social-title {
        margin-left: 0;
        text-align: center;
    }

    .social-title h1 {
        font-size: 2.5rem;
    }

    .social-media {
        justify-content: left;
        padding-left: 0;
        max-width: 100%;
        margin-top: 20px;
    }

    .social-block {
        margin-left: 10px;
        margin-right: 10px;
    }

    .scroll-to-top {
        margin-right: 0;
        margin-top: 20px;
        text-align: center;
    }

    .fill-btn {
        width: 180px;
        height: 60px;
        border: 4px solid whitesmoke;
    }

    .fill-btn-text {
        font-size: 1.2rem;
    }

    .copyright {
        justify-content: left;
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
    }

    #add-question i{
        color: whitesmoke;
    }
}

@media(max-width: 875px){
    .social-title{
        margin: 0;
    }

    .scroll-to-top {
        justify-content: flex-end;
        margin-top: 30px;
    }
}

@media (max-width: 780px) {
    .choose-title {
        margin-bottom: 60px;
    }

    .choose-action-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 70vh;
        margin-left: 45px;
    }

    .action-block {
        margin-bottom: 5vh;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .form-group .btn {
        width: 160px;
        background-color: #FFC54F;
        border: none;
        color: #1D002C;
        padding: 10px 20px;
        font-size: 1rem;
        border-radius: 5rem;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .form-group .btn:hover {
        background-color: transparent;
        color: whitesmoke;
    }
}

@media(max-width: 712px){
    .survey-block {
        width: 400px;
        height: 250px;
        padding: 20px;
    }

    .card-title h2 {
        font-size: 1.2em;
    }

    .info-item i {
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
    }

    .card-content p {
        text-align: center;
        margin: 10px 0;
        font-size: 1.4rem;
        padding: 10px;
    }

    .card-info {
        padding: 30px 5px;
        border-left: 1px solid #fff;
    }

    .info-item .i {
        margin-right: 0px;
        font-size: 0.7em;
    }

}

@media(max-width: 626px) {
    .scroll-to-top{
        padding: 0;
    }

    .fill-btn {
        padding-top: 14%;
        width: 190px;
        height: 50px;
        padding-bottom: 30px;
    }

    .fill-btn i{
        font-size: 30px;
    }

    .fill-btn-text {
        font-size: 20px;
    }

    .social-block {
        min-width: 25px;
        min-height: 25px;
        width: 50px;
        height: 50px;
    }

    .social-block i {
        font-size: 30px;
    }

    .social-media {
        min-width: 300px;
        min-height: 50px;
    }

    .social-media-row {
        padding: 0;
    }

    #waiting-message{
        font-size: 1.7rem;
    }
}

@media(max-width: 517px){
    .table {
        font-size: 1rem;
    }
}

@media(max-width: 310px) {
    .action-block {
        width: 150px;
        height: 300px;
    }
    .table {
        font-size: 0.7rem;
    }
}

/* Disabling hover if it is not supported */
@media (hover:hover) {
    .action-block:hover {
        transform: translateY(-20px);
        box-shadow: #5BBDE3 10px 10px;
    }

    .action-block:hover i {
        color: #5BBDE3;
    }
}
