html {
    font-size: 14px;
    background: #fffaf5;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #fffaf5;
    color: #302833;
    font-family: "Alegreya", serif;
    font-size: 1.5rem;
}

.navbar-brand {
    font-weight: 500;
    color: #2ef18b;
    font-size: 24px;
    transition: 0.3s color;
}

.nav-link {
    color: #00bfff;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #2ef18b;
}

@media(min-width: 991px){
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #2ef18b;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

.gb-black {
    background-color: #222;
}

.container{
    margin-top: 10vh;
}