@{
    ViewData["Title"] = "Опрос";
    ViewData["StyleName"] = "admin";
    ViewData["ScriptName"] = "surveyConnection.js";
}

<div id="userCount">Users connected: 0</div>
<button onclick="joinSurvey('f021ecc5')">Join Survey</button>
<button onclick="leaveSurvey('f021ecc5')">Leave Survey</button>
