@{
    ViewData["Title"] = "Опросы";
    ViewData["StyleName"] = "admin/admin.css";
    ViewData["ScriptName"] = "user/userService.js";
    string clientSessionValue = Context.Session.GetString("user_session_key");
}

<div id="alert-container" class="alert alert-danger d-none" role="alert">
    <span id="alert-message"></span>
</div>

<div class="survey-connect-block">
    <div class="connect-container">
        <h2>Подключение к опросу</h2>
        <form id="connect-form" method="POST" onsubmit="connectSurvey(event)">
            <div class="form__group">
                <input class="form__input s-code" type="text" placeholder="&nbsp;" id="s-code" maxlength="8" autocomplete="off" required>
                <label class="form__label" for="s-code">Код</label>
            </div>
            <div class="form__group">
                <input class="form__input s-nickname" type="text" placeholder="&nbsp;" id="s-nickname" maxlength="20" autocomplete="off" required>
                <label class="form__label" for="s-nickname">Никнейм</label>
            </div>
            <button type="submit">Подключиться</button>
        </form>
    </div>
</div>