@{
    ViewData["Title"] = "О проекте";
    ViewData["StyleName"] = "info/info.css";
}

<div class="info">
    <h1>О проекте</h1>
    <blockquote>
        <p>«Кто владеет информацией – тот владеет миром» – Натан Ротшильд.</p>
    </blockquote>
    <p>Целиком и полностью поддерживаю мнение банкира, ведь на текущий момент в мире количество информации растёт с бешеной скоростью. В условиях цифровой эры, когда доступ к данным стал более простым и повсеместным, полезности в информации становится меньше. Растёт число так называемого «информационного мусора», который не несёт в себе полезности. Поэтому особое значение приобретает способность не только получать, но и правильно интерпретировать эту информацию. Как это сделать? Провести опрос. Один из эффективных методов сбора и анализа данных.</p>

    <p>Опросы позволяют быстро и эффективно собирать мнения, предпочтения и отзывы большой и малой аудитории, что особенно важно для бизнеса, образования, маркетинга и многих других областей. С развитием технологий сбор данных стал более доступным и лёгким, но всё же требующим современных инструментов и подходов. По этой причине считаю актуальной разработку удобного и функционального веб-приложения для создания и проведения опросов.</p>

    <h2>Цель курсового проекта</h2>
    <p>Основной целью курсового проекта является закрепление знаний, полученных при изучении учебной дисциплины «Конструирование программы и языка программирования», а также разработка веб-приложения, обеспечивающего:</p>
    <ul>
        <li>Возможность для легкого и быстрого создания опросов;</li>
        <li>Обеспечение удобного интерфейса, который позволит без затруднений разобраться в нём и принять участие в опросе;</li>
        <li>Интеграция с различными платформами (веб, мобильные устройства).</li>
    </ul>

    <h2>Задачи проекта</h2>
    <p>Для реализации поставленной цели курсового проекта были поставлены следующие задачи:</p>
    <ol>
        <li>Провести анализ предметной области;</li>
        <li>Рассмотреть существующие аналоги;</li>
        <li>Разработать техническое задание;</li>
        <li>Разработать архитектуру программного средства;</li>
        <li>Разработать программное средство;</li>
        <li>Провести тестирование и отладку разработанного программного средства;</li>
        <li>Разработать методику использования программного средства.</li>
    </ol>

    <h2>Средства разработки</h2>
    <p>Для курсового проектирования будут использоваться такие средства разработки как современный объектно-ориентированный и типобезопасный язык программирования C#, платформа .NET и изготовленный под неё фреймворк ASP.NET. В качестве СУБД для хранения данных используется MySQL.</p>

    <h2>Результат</h2>
    <p>Таким образом, результатом данной курсовой работы станет полноценное веб-приложение для создания и проведения опросов.</p>
</div>