@{
    ViewData["Title"] = "Документация";
    ViewData["StyleName"] = "info/info.css";
}

<div class="info">
    <h1>Введение</h1>
    <p>Наименование программного продукта – «Q1TimeS» (quick one-time surveys).</p>
    <p>Область применения программы – бизнес, образование, исследования, личная сфера.</p>
    <p>Основная цель программного продукта – предоставить пользователям простой и эффективный инструмент для сбора данных посредством опросов, минимизируя время на их создание и распространение.</p>

    <h2>Основания для разработки</h2>
    <p>Программный продукт разрабатывается в соответствии с заданием на курсовой проект по учебной дисциплине «Конструирование программ и языки программирования» выданным преподавателем Кричко Валерией Юрьевной. Разработка производится в соответствии с СТП БГЛК 001-2021.</p>

    <h2>Назначение разработки</h2>
    <p>Целевой аудиторией являются: маркетологи, исследовательские группы, учебные заведения, частные лица.</p>
    <p>Функциональным назначением для потребителей является создание опросов, распространение ссылок на опросы, сбор и анализ результатов в реальном времени.</p>
    <p>Эксплуатационным назначением программы является эксплуатация в открытом доступе на всех видах устройств для любого желающего провести опрос или тест.</p>

    <h2>Требования к программе или программному изделию</h2>
    <h3>ТЗ-1. Требования к функциональным характеристикам</h3>
    <ul>
        <li>Подключение без авторизации и регистрации к опросу.</li>
        <li>Возврат к выбору роли.</li>
        <li>Прохождение опроса и отправка результата.</li>
        <li>Авторизация для администратора.</li>
        <li>Просмотр доступных опросов.</li>
        <li>Создание нового опроса.</li>
        <li>Отмена создания опроса.</li>
        <li>Удаление опроса.</li>
        <li>Просмотр информации об опросе.</li>
        <li>Запуск/остановка опроса.</li>
        <li>Просмотр полученных ответов.</li>
        <li>Просмотр документации к программному продукту.</li>
        <li>Просмотр информации об проекте.</li>
    </ul>

    <h3>ТЗ-2. Требования к надёжности</h3>
    <ul>
        <li>Предупреждение ошибок при некорректных данных от пользователя.</li>
        <li>Хеширование локального пароля пользователя.</li>
        <li>Обеспечение целостности и доступности базы данных.</li>
        <li>Контроль информации.</li>
    </ul>

    <h3>ТЗ-3. Условия эксплуатации</h3>
    <ul>
        <li>Освещённость не менее 400лк.</li>
        <li>Влажность от 40 до 60 %.</li>
        <li>Температура от 18 до 25°C.</li>
        <li>Работники должны пройти вводный инструктаж по работе с программным продуктом до начала работы.</li>
        <li>Работник должен иметь базовые навыки в управлении компьютером.</li>
    </ul>

    <h3>ТЗ-4. Требования к составу и параметрам технических средств</h3>
    <p>Для серверного оборудования:</p>
    <ul>
        <li>ОС: Windows 10 и выше.</li>
        <li>Процессор: Многоядерный (4 ядра и более) с высокой тактовой частотой (от 2.5 ГГц).</li>
        <li>Оперативная память: не менее 16 ГБ, рекомендуется 32 ГБ.</li>
        <li>Хранилище: SSD-диски объемом не менее 512 ГБ.</li>
        <li>Периферийные устройства: Клавиатура, мышь, монитор.</li>
        <li>Сетевые возможности: гигабитные сетевые интерфейсы.</li>
    </ul>

    <p>Для клиентских устройств:</p>
    <ul>
        <li>ОС: Windows 10 и выше, macOS, Linux.</li>
        <li>Мобильные ОС: iOS, Android.</li>
        <li>Веб-браузеры: Поддержка современных браузеров (Google Chrome, Mozilla Firefox, Microsoft Edge, Safari) последних версий.</li>
        <li>Интернет-соединение: Высокоскоростной доступ к интернету.</li>
    </ul>

    <h3>ТЗ-5. Требования к информационной и программной совместимости</h3>
    <ul>
        <li>Приложение должно быть реализовано на платформе ASP.NET, используя язык программирования C# и СУБД MySQL.</li>
        <li>Использование современных паттернов проектирования для обеспечения гибкости и масштабируемости системы.</li>
        <li>Интуитивно понятный и пользовательский интерфейс для облегчения использования приложения.</li>
        <li>Безопасность данных.</li>
    </ul>

    <h3>ТЗ-6. Требования к маркировке и упаковке</h3>
    <p>Программа поставляется в виде архива .rar, .zip для операционных систем Windows с ключом администратора.</p>

    <h3>ТЗ-7. Требования к транспортированию и хранению</h3>
    <p>Программа находиться в открытом доступе по адресу «q1times-by.com».</p>

    <h3>ТЗ-8. Требования к программной документации</h3>
    <p>Предварительный состав программной документации:</p>
    <ul>
        <li>Разработка подробной технической документации в соответствии с требованиями ГОСТ 19.101–77.</li>
        <li>Наименование документа, его регистрационный номер и дата составления.</li>
        <li>Условия применения и область применения программного продукта.</li>
        <li>Описание функций программного продукта и порядок их использования.</li>
        <li>Структура программного продукта и описание взаимодействия между его компонентами.</li>
        <li>Правила установки, запуска и использования программного продукта.</li>
        <li>Программа и методика испытаний.</li>
        <li>ГОСТ 19.201–78.</li>
        <li>Лицензионное соглашение.</li>
        <li>Техническое задание.</li>
        <li>Руководство программиста.</li>
    </ul>

    <h3>ТЗ-9. Технико-экономические показатели</h3>
    <p>Не рассчитываются.</p>

    <h3>ТЗ-10. Стадии и этапы разработки</h3>
    <ol>
        <li>
            Сбор и анализ требований:
            <ul>
                <li>Требования к разработчикам.</li>
                <li>Возможные риски.</li>
                <li>Каким должен быть программный продукт.</li>
            </ul>
        </li>
        <li>
            Разработка документации:
            <ul>
                <li>Составление технического задания.</li>
                <li>Составление плана и графика работ.</li>
            </ul>
        </li>
        <li>Проектирование.</li>
        <li>Кодирование.</li>
        <li>Тестирование и отладка.</li>
        <li>Вывод и эксплуатация.</li>
    </ol>

    <h3>ТЗ-11. Порядок контроля и приёмки</h3>
    <p>Назначить создание чек-листа. На его основе test-кейсы и smoke-тесты. Провести нагрузочное тестирование и тестирование безопасности. Общее требование к приёмке программного обеспечения: наличие рабочего варианта программного обеспечения.</p>
</div>