@{
    ViewData["Title"] = "Конструктор опросов";
    ViewData["StyleName"] = "admin/surveys_designer.css";
    ViewData["ScriptName"] = "surveys_designer.js";
}

<div id="alert-container" class="alert alert-danger d-none" role="alert">
    <span id="alert-message">Создание опроса отменено из-за ошибок. Проверьте все поля.</span>
</div>

<div id="survey-builder">
    <h1 class="form__title">Создание опроса</h1>

    <form id="survey-form">
        <div class="com-set">
            <div class="form__group" data-bs-toggle="tooltip" data-bs-placement="top" title="Введите название, которое вам подойдёт. Макс.длина 20">
                <input class="form__input s-title" type="text" placeholder="&nbsp;" id="s-title" required maxlength="20" autocomplete="off">
                <label class="form__label">Название опроса *</label>
            </div>
            <div class="form__group">
                <input class="form__input s-description" type="text" placeholder="&nbsp;" id="s-description" maxlength="99" autocomplete="off">
                <label class="form__label">Описание опроса</label>
            </div>
            <div class="row">
                <div class="form__group col" data-bs-toggle="tooltip" data-bs-placement="top" title="Время, через которое опрос перестанет быть доступным для пользователей. Указывается в секундах.">
                    <input class="form__input s-cutofftime" type="text" placeholder="&nbsp;" id="s-cutofftime" maxlength="5" autocomplete="off">
                    <label class="form__label">Таймаут</label>
                    <div class="invalid-feedback">Только целое число</div>
                </div>
                <div class="form__group col" data-bs-toggle="tooltip" data-bs-placement="top" title="Лимит человек, которые смогут принять участие в опросе.">
                    <input class="form__input s-limit" type="text" placeholder="&nbsp;" id="s-limit" maxlength="3" autocomplete="off">
                    <label class="form__label">Лимит</label>
                    <div class="invalid-feedback">Только целое число</div>
                </div>
            </div>
            <div class="form-check form-switch s-switch" data-bs-toggle="tooltip" data-bs-placement="top" title="Данный режим подразумевает проведение опроса в виде теста, с правильными вариантами ответа.">
                <input class="form-check-input" type="checkbox" id="test_mode" autocomplete="off">
                <label class="form-check-label" for="test_mode">Режим "Зачёт"</label>
            </div>
        </div>
    </form>

    <div id="questions-container"></div>
    
    <div class="add-block">
        <button type="button" id="add-question" class="add-answer-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Добавить вопрос">
            <i class='bx bxs-plus-circle'></i>
        </button>
    </div>

    <div class="commit-btns">
        <button type="button" class="btn btn-danger" id="cancel-survey" onclick="cancelSubmit()">Отменить создание</button>
        <button type="button" class="btn btn-outline-success" id="submit-survey">Подтвердить создание</button>
    </div>

    <template id="question-template">
        <div class="que-n-ans">
            <div class="question-block">
                <div class="form__group">
                    <input class="form__input question-input" type="text" placeholder="&nbsp;" id="s-question" maxlenght="20" required autocomplete="off">
                    <label class="form__label">Введите вопрос *</label>
                </div>

                <div class="answers-container"></div>

                <div class="form-check form-switch multianswer-switch" data-bs-toggle="tooltip" data-bs-placement="top" title="Добавляет возможность выбора нескольких вариантов ответа.">
                    <input class="form-check-input" type="checkbox" id="multianswer_mode" autocomplete="off">
                    <label class="form-check-label" for="multianswer_mode">Несколько ответов</label>
                </div>
                <button type="button" class="btn btn-outline-primary add-answer">Добавить ответа</button>
                <button type="button" class="btn btn-outline-danger remove-question">Удалить вопрос</button>
            </div>
        </div>
    </template>
</div>
