@{
    ViewData["Title"] = "Статистика по опросу";
    ViewData["StyleName"] = "admin/admin.css";
    ViewData["ScriptName"] = "admin.js";
}

<h1>Здесь будет храниться статистика по опросу с идентификатором @ViewBag.Key</h1>