@model Q1TimeS.Models.Db.Survey
@{
    ViewData["Title"] = "Статистика по опросу";
    ViewData["StyleName"] = "admin/stats.css";
    ViewData["ScriptName"] = "stats.js";
}

<div class="stats-container">
    <h1>Сводка по опросу</h1>
    <hr>
    <div class="info-block">
        <p>Название: @Model.Title</p>
        <p>Описание: @Model.Description</p>
    </div>
    <hr>
    <div class="survey-control-block">
        <div class="clock">
            <input type="checkbox" id="clock-checkbox" class="clock-checkbox">
            <label for="clock-checkbox" class="clock-label" onclick="toggleRun()">
                <span id="timer-text">@Model.CCode</span>
            </label>
        </div>
        <h3 class="connected">Подключено 0 из @Model.Limit</h3>
    </div>
    <hr>
    <div class="results-block">
        <h1>Полученные ответы</h1>
        <h3>Ответы отсутствуют</h3>
    </div>
    <hr>
</div>